@font-face{
  font-family:"Rayuela W01 Negra";
  src:url("Fonts/982a2f1d-0698-4a02-9a57-32176d1b61a7.eot?#iefix");
  src:url("Fonts/982a2f1d-0698-4a02-9a57-32176d1b61a7.eot?#iefix") format("eot"),url("Fonts/e7a694d9-5fe5-4ce1-a756-e3962f57e594.woff2") format("woff2"),url("Fonts/0054f528-bbd8-454b-95e2-e23625048353.woff") format("woff"),url("Fonts/2c1f5e4a-18dd-49db-aa61-bade94102aad.ttf") format("truetype"),url("Fonts/f9e39a2c-7d77-40b6-9b15-26b302a3960c.svg#f9e39a2c-7d77-40b6-9b15-26b302a3960c") format("svg");
}
