.card {
  background: $white;
  border-radius: $r;
  margin-right: 1em;
  @extend .block-shadow;

  @include mq($mediumBreakpoint) {
    max-width: 18em;
    min-width: 18em;
  }

  &:last-child {
    margin: 0;
  }

  .card__image {
    padding: 1em;

    img {
      width: 100%;
      height: auto;
    }
  }

  .card__name {
    border-top: 1px solid $grey-light;

    p {
      padding: 0 0 1em;
      text-align: center;
      font-family: $font-standard;

      @include mq(600) {
        padding: 1em 0;
      }
    }
  }

  .fmk-buttons {
    padding: 0 1em 0.8em;

    .btn {
      display: block;
      width: 100%;
      margin: 0 auto 0.2em;
    }
  }
}