.card {
  background: $white;
  border-radius: $r;
  margin-right: 1em;
  max-width: 22em;
  min-width: 14em;
  @extend .block-shadow;

  @include mq($mobileBreakpoint) {
    max-width: 30%;
    min-width: 30%;
  }

  &:last-child {
    margin: 0;
  }

  .card__image {

    img {
      width: 100%;
      height: auto;
      border-radius: $r $r 0 0;
    }
  }

  .card__name {
    border-top: 1px solid $grey-light;

    p {
      margin: 0;
      padding: 0.7em 0;
      text-align: center;
      font-family: $font-standard;
      font-size: 1.2em;

      @include mq(600) {
        padding: 0.5em 0;
      }
    }
  }

  .fmk-buttons {
    padding: 0 0 0.8em;
    margin: 0 auto;

    .btn {
      display: block;
      width: 100%;
      margin: 0 auto 0.2em;
      min-width: 1em;
      max-width: 7em;


      @include mq($mobileBreakpoint) {
        max-width: 8em;
      }
    }
  }
}