.card {
  background: $white;
  border-radius: $r;
  max-width: 20em;
  @extend .block-shadow;

  .card__image {
    padding: 1em;

    img {
      width: 100%;
      height: auto;
    }
  }

  .card__name {
    border-top: 1px solid $grey-light;

    p {
      padding: 0 0 1em;
      text-align: center;
      font-family: $font-standard;

      @include mq(600) {
        padding: 1em 0;
      }
    }
  }
}