.btn {
  @include btn($brandColor);
  display: block;
  margin: 4em auto;
  max-width: 10em;
  font-size: 2em;

  &.btn--f {
    @include btn($brandF);
  }

  &.btn--m {
    @include btn($brandM);
  }

  &.btn--k {
    @include btn($brandK);
  }

  &--disabled {
    opacity: .5;
  }
}