@import "../config";

html, body {
  overflow-x: hidden;
 // -webkit-overflow-scrolling: touch;
}

body {
  margin-top: 0;
  background: url("/img/bg.svg") no-repeat 100%/cover;
  font-family: $font-bold;
}