@import "../config";

html, body {
  overflow-x: hidden;
 // -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  background: $bg-color url("/img/bg.svg") no-repeat;
  background-size: cover;
  animation: fade-in 2s ease both;
}