h1 {
  margin-top: 1em;
  text-align: center;
  font-family: $font-bold;
  font-size: 2em;
  color: $white;
  text-shadow: 0 1px 0 rgba($black,0.2);

  @include mq($mobileBreakpoint) {
    font-size: 3.6em;
  }
}