.home {
  animation: fade-in 1s ease 1.5s both;
  h1 {
    animation: text-idle 1.7s infinite ease;
  }

  .btn {
    font-size: 1.5em;

    @include mq($mobileBreakpoint) {
      font-size: 1.7em;
    }

    @include mq($mediumBreakpoint) {
      font-size: 2em;
    }
  }
}