.game {
  @extend .wrapper;

  .card-wrapper {

    @include mq($mobileBreakpoint) {
      display: flex;
      justify-content: space-between;
    }

    .card {

      @include mq($mobileBreakpoint, max) {
        margin: 0 auto 1em;
      }
    }
  }
}